@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$home_padding_bottom : 1.5rem;

body {
    margin: 0;
    height: 100vh;
    font-family:  'Poppins', sans-serif;
    overflow-x: hidden;
    
}

h1, h2, h3 {
    font-weight: normal;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.site-header {
    background-color: #000630;
    z-index: 10;

    .site-title {
        color: white;
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 0.4rem;
    }

    a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $home_padding_bottom 2em;
        position: relative;
        top: 0;
        left: 0;

        z-index: 10;

        input {
            display: none;
        }

        .menu-icon svg {
            display: block;
        }

        ul {
            display: none;

            a {
                display: block;
                padding: 0 1em;
            }
        }
    }
}

.hero {

    background-color: #000630;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em 0em;
    position: relative;
    height: 100vh;


    .hero_title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        

        h1.home-title {

            font-size: 3.5rem;
            margin: 0rem;
            padding-bottom: $home_padding_bottom;
           // background-color: red;
            line-height: 3.5rem;    
            text-transform: uppercase;
            color: white;
        }

        h1 {
           // padding-bottom: 0.5em;
            padding-bottom: $home_padding_bottom * 0.8;
            margin-top: 0;
            font-size: 1.1rem;
            color: #C1F4FF;
            line-height: 1.1rem;
        }

        h2 {
            padding-bottom: $home_padding_bottom * 0.8;
            margin-top: 0;
            font-size: 1em;
            line-height: 1rem;
            color: #E9C1FF;
        }

        .scroll {
            svg {
                //width: 10%;
                //height: 100%;
                // position: absolute;
                // top: 25vh;
                // // left: 0vw;
                // z-index: 10;   
            }
        }
    }

}

.hero_img {
    svg {
        width: 220%;
        height: 100%;
        position: absolute;
        top: -30vh;
        left: -80vw;

    }
}


@media only screen and (min-width: 400px) {
    $home_padding_bottom : 2rem;

    .hero {
        padding: 4em 0em;


        .hero_title {

            h1.home-title {
                padding-bottom: $home_padding_bottom;
                font-size: 5rem;
                line-height: 5rem;   
            }

            h1 {
                font-size: 1.5rem;
                line-height: 1.5rem;
                padding-bottom: $home_padding_bottom * 0.8;
            }

            h2 {
                padding-bottom: $home_padding_bottom * 0.8;
                font-size: 1.2em;
            }
        }
    }

    // .header-container {
    //     padding: $home_padding_bottom 2.5em;
    // }

    .site-header{
        .site-title {
            font-size: 1.5em;
            letter-spacing: 0.4rem;
        }
    }

    .scroll {
        svg {
            transform: scale(1.2);
            //height: 100%;
            // position: absolute;
            // top: 25vh;
            // // left: 0vw;
            // z-index: 10;   
        }
    }
}