@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

$home_padding_bottom : 1.5rem;

body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    
   
}

.page-content {
    overflow: hidden; 
}

h1,
h2,
h3 {
    font-weight: normal;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

// header {
//     display: none;
// }
.sticky {
    background-color: #00063096;
    backdrop-filter: blur(40px);
    position:fixed;
    width: 100%;
    box-shadow: 0px 10px 30px #020729;
}

.sticky-z-lower {
    z-index: 10 !important;

}
.site-header {

   overflow: hidden;
    background-color: #000630;
    z-index: 11;
    a:hover,
    a:focus {
        color: #C1F4FF;
    }
    .site-title {
        color: white;
        font-size: 1.2em;
        font-weight: 800;
        letter-spacing: 0.4rem;
    }

    a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $home_padding_bottom 2em;
        position: relative;
        top: 0;
        left: 0;
        z-index: 10;

        input {
            display: block;
        }

        .menu-icon {
            display: block;
            transform: scale(1.2);
            fill: black;

        }
        .menu-icon:hover {
            fill: #C1F4FF;
        }

        .nav-list {
            display: none;

            ul {
                a {
                    display: block;
                    padding: 0 1em;
                }
            }
        }
    }
}


.home {
    display: grid;
    text-align: center;
    position: relative;
}

.hero {

  //  background-color: #000630;
    //margin-top: 100px;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em 0em;
    position: relative;
    height: 20vh;

    .hero_title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;

        h1.home-title {
            font-size: 3.5rem;
            margin: 0rem;
            padding-top: 1rem;
            padding-bottom: $home_padding_bottom;
            line-height: 3.5rem;
            text-transform: uppercase;
            color: white;
        }
        h1 {
            // padding-bottom: 0.5em;
            padding-bottom: $home_padding_bottom * 0.8;
            margin-top: 0;
            font-size: 1.1rem;
            color: #C1F4FF;
            line-height: 1.1rem;
            z-index: 10;
        }
        h2 {
            padding-bottom: $home_padding_bottom * 0.8;
            margin-top: 0;
            font-size: 1em;
            line-height: 1rem;
            color: #E9C1FF;
            z-index: 10;
        }
    }
}

.hero_img {

    svg {
        background-color: #000630;
        width: 250%;
        height: 100%;
        position: absolute;
        top: -65vh;
        left: -100vw;
        //z-index: -10;
    }
}

.glow  {
    background-color: #ca0087c6;
    position: absolute;
    top: 20vh;
    left: -12vh;
    width: 130%;
    height: 40px;

    transform: rotate(-25deg);
    filter: blur(100px);
    

}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 11;
    left: 100%;
    top: 0;
    backdrop-filter: blur(40px);
    background-color: #00063064;
    //background-color: rgba(0, 0, 0, 0.9);

    overflow-x: hidden;
    transition: 0.5s;}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #C1F4FF;
}

.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 1.5rem;
    font-size: 3rem;
    line-height: 3rem;
}

footer {
    // position: fixed;
    // bottom: 0vh;
    // width: 100%;
    padding: 1.5rem 2rem;
    color: white;
    background-color: #000630;
}

article {
    color:white;
    background-color: #000630;
    height: 100vh;
    width: 100vw;
}   

.post-title {
    padding: 1.5rem 1.5rem 0.5rem 2rem;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #E9C1FF;
    //filter: blur(1px);
}

.scroll-circle {
    animation: circleAnim 1s alternate-reverse infinite;
}

@keyframes circleAnim {
    from {
        transform: translate(936px,  669px);
        z-index: 5;
    }
    to {
        transform: translate(936px,  651px);
    }
}
.post-content {
    
    h1, h2, h3, p {
        padding: 0.5rem 2rem;
    }
    h1,h2,h3 {
        color:#C1F4FF,
    }
}



@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
@media only screen and (min-width: 400px) {
    $home_padding_bottom: 2rem;

    .hero {
        padding: 4em 0em;


        .hero_title {

            h1.home-title {
                padding-bottom: $home_padding_bottom;
                font-size: 5rem;
                line-height: 5rem;
            }

            h1 {
                font-size: 1.5rem;
                line-height: 1.5rem;
                padding-bottom: $home_padding_bottom * 0.8;
            }

            h2 {
                padding-bottom: $home_padding_bottom * 0.8;
                font-size: 1.2em;
            }
        }
    }

    // .header-container {
    //     padding: $home_padding_bottom 2.5em;
    // }

    .site-header {
        .site-title {
            font-size: 1.5em;
            letter-spacing: 0.4rem;
        }
    }

    .scroll {
        svg {
            transform: scale(1.2);
            padding-bottom: 2rem;
            //height: 100%;
            // position: absolute;
            // top: 25vh;
            // // left: 0vw;
            // z-index: 10;   
        }
    }
}

.post-list-heading {
    position: relative;
    margin:0;
    //margin-top: 20vh;
    color: white;
//    background-color: #000630;
    padding: 0rem;

    font-size: 2rem;

}

.post-list {
    //z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:left;
    background-color: #000630;

    .post-card {


        backdrop-filter: blur(30px);
        display: flex;
        flex-direction: column;
        border-radius: 2rem;
        background-color: #5e5f6112;
        margin: 2rem;
        width: 80vw;

        .post-link {
            font-size: 1.5rem;
            //margin: 2rem 0;
            padding: 1.5rem 2rem;
            color:#E9C1FF;
            text-decoration: none;
        }
        p {
            margin: 0rem;
            padding: 1.5rem 2rem;
            color:#ffffff;
        }

        .post-category-list {
            margin: 0;
            display: flex;
            justify-content: flex-start;
            padding: 0 1.8rem;


            .post-category-item {
                color: white;
                margin-left: 0.4rem;
                padding: 0.25rem 0.5rem;
                border-radius: 0.8rem;
                background-color: #50116F;
            }
        }

        .crop {
            overflow: hidden;
            max-height: 40vh;
            border-radius: 2rem;
            
            img {
                filter: opacity(0.5);
                transition: 0.3s;
                //box-shadow: #000630;
                border-radius: 2rem;
                //display: block;
                //margin-left: auto;
                //margin-right: auto;
                
                //padding: 1.5rem;
                
            }
            img:hover {
                filter: opacity(1)
            }
        }
        //padding: 2rem;
       // padding: 1rem;

    }
}